<% listings.each do |listing| %>
  <ul class="listingstyle">
    <li class="title"><a href="<%=listing.url%>"><%= listing.title %></a>, <%= listing.quantity %> left!</li>
    <li class="price"><%= listing.currency %><%= listing.price %></li>
    <li class="description">Description: <%= listing.description %></li>
  </ul>
<% end %>

